
   <main class="fl w-100 pa2">
     <h1><%= title %></h1>
     <p>Welcome to <%= title %></p>
     <h3>You can go to see full list of <a href="/products">products</a></h3>
   </main>

   <div class="fl w-100 pa2">
     <pre>
       This page is an didactic example of backEnd Node/Express application.
       It use MongoDB, and two models.
       It use ejs templates with layouts.
       It use Express Router.
       Implements CRUD (Create Read Update Delete) actions.
       A bit of CSS but mainly the Tachyons library.

       It use the following packages:

       - body-parser
       - cookie-parser
       - debug
       - ejs
       - express
       - express-ejs-layouts"
       - mongoose
       - morgan
       - serve-favicon

       Of course, it was a ironhack bootcamp exercise
       <a href="https://www.ironhack.com/en" target="_blank">ironhack</a>
     </pre>
   </div>
