body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

 li{
   height: auto;
    width: 100%;
 }

 nav{
   border-bottom: 2px solid navy;
 }

.one-product{
  margin-bottom: 20px;
  display: flex;
  border: 1px double #73AD21;
  background-color: antiquewhite;
  box-shadow: 7px 6px 6px 3px teal;
}

.image{
  flex: 30%;
  height: auto;
  float:left;
  position: relative;
  margin: 0 auto;
  padding: 10px;

}

.image img{
  height: 200px;
  width: auto;
}

.productInformation{
  flex: 70%;
  position: relative;
  left: 20px;
  padding: 20px;
}

.productInformation h5{
  margin-top: 10px;
  margin-bottom: 5px;
}

.details{
  width: 90%;

}

.details p{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
}

.delete-form{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: green;
  width: inherit;
  float: right;
  margin-right: 20px;
}

.search-results{
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-delete{
    box-shadow: 5px 4px 4px 1px teal;
}

 .mynavbar{
  padding-bottom: 0.1rem !important;
}
