<main class="mw6 center">
  <h1 class="f3 f2-m f1-l helvetica bb b--dark-gray pb2">Add New Product</h1>
  <div class="">
    <form class="measure center" method="POST" action="/products">
      <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
        <div class="mt3">
          <label class="db fw6 lh-copy f6" for="name">Name</label>
          <input class="b pa2 input-reset ba bg-transparent hover-bb-blue w-100" type="name" name="name" id="name" required>
        </div>
        <div class="mv3">
          <label class="db fw6 lh-copy f6" for="description">Description</label>
          <input class="b pa2 input-reset ba bg-transparent hover-bb-blue w-100" type="description" name="description" id="description" required>
        </div>
        <div class="mv3">
          <label class="db fw6 lh-copy f6" for="imageUrl">Image URL</label>
          <input class="b pa2 input-reset ba bg-transparent hover-bb-blue w-100" type="url" name="imageUrl" id="imageUrl" required>
        </div>
        <div class="mv3">
          <label class="db fw6 lh-copy f6" for="price">Price</label>
          <input class="b pa2 input-reset ba bg-transparent hover-bb-blue w-100" type="number" name="price" id="price" required>
        </div>
      </fieldset>
      <div class="mv3">
        <input class="button" type="submit" value="Add product">
      </div>
    </form>
  </div>
</main>
